.body{
    margin: 0;
    font-family: sans-serif;
   
    
}
.flexiable-topheader{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    font-size: 30px;
}
.img-half{
    width: 70%;
    
}
.orange-color{

  color: orange;
}
.button{
    text-decoration: none;
    background-color: orange;
    padding:10px 40px;
    border-radius: 20px;
    background-image: linear-gradient(orange,tomato);
    color:white;
    font-weight: 700px;
}
.focus-line{
    border-left: 3px solid;
    border-image: linear-gradient(orange,red);
     border-image-slice: 1;
     line-height: 30px;
}
.mission-div{
    text-align: center;
    font-size: 40px;
}
.md{
   display: flex;
}
.mission-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
  
}
.mission-item h5{
    font-size: 20px;
}
.flexiable-middle{
    margin-bottom: 100px;
}
.flexiable-middle2{
    margin-bottom: 100px;
    display: flex;
}

.HI-footer h1 {
  text-align: center;
  
}
.HI-footer h6 {
    text-align: center;
    color: white;
    
  }
.HI-footer{
    background-color: black;
    height:120px;
  
}
.white-color{
    color: white;
}
.content-b-foot{
    display: flex;
    border:5px solid;
    border-radius: 9px;
}
.chalf{
    width: 30%;
    
}

.content-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-right: 10px;
    
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
#remove{
    text-decoration: none;
}
#bk{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
   background-position: left;
    background-size: 20% ;
}
#m1{
    background-color: blanchedalmond;
}
#m2{
    background-color: darkgrey;
}
#m3{
    background-color: khaki;
}
#rcor{
    text-align: center;
}
#ck{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 20% ;
    
}
